body {
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url("./assets/sky.jpg");
}

.page {
  text-align: center;
  font-family: Arial;
  background: linear-gradient(#e1e6eb, #0492ff);
  min-height: 100vh;
  color: white;
  padding: 20px;
  background: none;

}

.cities {
  display: flex;
  justify-content: center;
  gap: 10px;
}

button {
  padding: 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px) !important;
  -webkit-backdrop-filter: blur(10px) !important;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  background: rgba(255, 255, 255, 0.2);
  transition: 0.3s;
  isolation: isolate;
}

button:hover {
  transform: scale(1.1);
}

.card {
  margin: 20px auto;
  background: rgba(255, 255, 255, 0.2);
  padding: 20px;
  border-radius: 15px;
  width: 300px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px) !important;
  -webkit-backdrop-filter: blur(10px) !important;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  isolation: isolate;
}

.card:hover {
  transform: scale(1.1);
}


.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.day {
  background: rgba(255, 255, 255, 0.2);
  padding: 10px;
  border-radius: 10px;
  width: 120px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px) !important;
  -webkit-backdrop-filter: blur(10px) !important;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  isolation: isolate;
}

.day:hover {
  transform: scale(1.1);
}

@media (max-width: 600px) {
  .cities {
    flex-direction: column;
    align-items: center;
  }
  
  button {
    width: 100%;
    max-width: 200px;
  }
  
  .card {
    width: 90%;
    max-width: 300px;
  }
  
  .day {
    width: calc(50% - 10px);
  }
  
  .page {
    padding: 10px;
  }
}